// profile styles
.profiles
  background-color: lightblue

ul li
  display: flex

ul li a
  +size(10px)

.twitter-link
  background-color: lightblue
.facebook-link
  background-color: darkblue
.youtube-link
  background-color: #e52d27
.linkedin-link
  background-color: blue
.angelist-link
  border: 2px solid black
.producthunt-link
  background-color: #da552f
