// profile styles
.profiles
  // background-color: tomato

.menu
  display: flex
  justify-content: center
  p
    margin-right: 5px

.media
  margin: 0 5px 50px 0

a
  text-decoration: none

.parent
  display: flex
  flex-direction: row
  flex-wrap: wrap
  span
    text-align: center
    margin-left: 25%

.item
  width: 33.3333%

// change width based on device size (need 2 veiwports here)

.url
  +size(20px)
  display: inline-block

.twitter-link
  background-color: lightblue
.medium-link
  background-color: lightgreen
.facebook-link
  background-color: darkblue
.youtube-link
  background-color: #e52d27
.linkedin-link
  background-color: blue
.angelist-link
  border: 2px solid black
.producthunt-link
  background-color: #da552f
