// profile styles
.profiles
  background-color: $light-yellow

// ul li
.parent
  display: flex

.item
  // width: 33%
  background-color: tomato

.url
  +size(25px)
  display: block

.twitter-link
  background-color: lightblue
.facebook-link
  background-color: darkblue
.youtube-link
  background-color: #e52d27
.linkedin-link
  background-color: blue
.angelist-link
  border: 2px solid black
.producthunt-link
  background-color: #da552f
