<header class="sans-serif letter">
  <h1>{{ site.data.description.letter-title }}</h1>
  <h2>
    <p>
      Hey Tiger,
      <br/><br/>
      Have you heard about Fintech? It’s the future of finance - where financial services are improved through technology. [something about the size and growth rate. (perspective comparison to another industry to signify importance)] <i class="em em-open_mouth"></i>. As expected, may people have taken notice.
      <br/><br/>
      In fact, there are currently over 100,000 people on various social networks talking about the fintech. We're sure you can guess, there’s a lot of <i class="em em-poop"></i>. A band is a group of people who share a common purpose. We sorted through everyone and identified up to 20 rockstars per network who specialize in the industry, post the highest quality content, and contribute by teaching others about the <a href="#">#fintechboom</a>.
      <br/><br/>
      We would like to celebrate these rockstars by making them accessible in almost any network you hangout in. If you’re even more interested in learning from a particular rockstar, <a href="#">leave a question</a> and based on interest we’ll setup an AMA.
      <br/><br/>
      We update our list monthly. This industry moves fast, don’t miss out.  ___________________ can stay current by signing up for our newsletter where we highlight a rockstar and their work. We also summarize 3 of the top posts from our rockstars and sort them by complexity so there is something for beginners and experts!
      <br/><br/>
      Rock on,
      <br/>
      <a href="www.vesthq.com">The VestHQ Team</a>
    </p>
  </h2>
</header>
