<!-- profiles section -->
<section class="serif profiles">
  <div class="menu">
    <p>Sort by</p>
    <ul class="parent">
      <li class="media twitter-link"><a href="#">Twitter</a></li>
      <li class="media medium-link"><a href="#">Medium</a></li>
      <li class="media facebook-link"><a href="#">Facebook</a></li>
      <li class="media youtube-link"><a href="#">Youtube</a></li>
      <li class="media linkedin-link"><a href="#">Linkedin</a></li>
      <li class="media angelist-link"><a href="#">Angel List</a></li>
      <li class="media producthunt-link"><a href="#">Product Hunt</a></li>
    </ul>
  </div>

  <ul class="parent">
    {% for people in site.posts %}
      <li class="item">
        <span>{{people.name}}</span>
        {% if people.twitter-url %}
        <a class="twitter-link url" href="{{people.twitter-url}}"></a>
        {% endif %}
        {% if people.medium-url %}
        <a class="medium-link url" href="{{people.medium-url}}"></a>
        {% endif %}
        {% if people.facebook-url %}
        <a class="facebook-link url" href="{{people.facebook-url}}"></a>
        {% endif %}
        {% if people.youtube-url %}
        <a class="youtube-link url" href="{{people.youtube-url}}"></a>
        {% endif %}
        {% if people.linkedin-url %}
        <a class="linkedin-link url" href="{{people.linkedin-url}}"></a>
        {% endif %}
        {% if people.angelist-url %}
        <a class="angelist-link url" href="{{people.angelist-url}}"></a>
        {% endif %}
        {% if people.producthunt-url %}
        <a class="producthunt-link url" href="{{people.producthunt-url}}"></a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>

<!-- 
<section class="articles">
  {% for article in site.posts limit: 1 %}
    <article class="media">
      <span></span>

      <div class="details">
        <div class="lengh">{{ article.article-lengh }}</div>

        {% if article.tag == "article" %}
          <a class="article tag" href="/articles">{{ article.tag }}</a>
          {% elsif article.tag == "podcast" %}
            <a class="podcast tag" href="/podcasts">{{ article.tag }}</a>
          {% elsif article.tag == "infographic" %}
            <a class="infographic tag" href="/infographics">{{ article.tag }}</a>
          {% elsif article.tag == "report" %}
            <a class="report tag" href="/reports">{{ article.tag }}</a>
          {% elsif article.tag == "video" %}
            <a class="video tag" href="/videos">{{ article.tag }}</a>
        {% endif %}
      </div>

      <a class="source" href="{{ article.article-link }}" target="_blank">
        <div class="title">
          {{ article.article-title }}
        </div>
        <div class="author">
          {{ article.article-author }}
        </div>
      </a>
    </article>
  {% endfor %}

  {% for article in site.posts limit: 1 offset: 1%}
    <article class="media">
      <span></span>
      <span></span>

      <div class="details">
        <div class="lengh">{{ article.article-lengh }}</div>

        {% if article.tag == "article" %}
          <a class="article tag" href="/articles">{{ article.tag }}</a>
          {% elsif article.tag == "podcast" %}
            <a class="podcast tag" href="/podcasts">{{ article.tag }}</a>
          {% elsif article.tag == "infographic" %}
            <a class="infographic tag" href="/infographics">{{ article.tag }}</a>
          {% elsif article.tag == "report" %}
            <a class="report tag" href="/reports">{{ article.tag }}</a>
          {% elsif article.tag == "video" %}
            <a class="video tag" href="/videos">{{ article.tag }}</a>
        {% endif %}
      </div>

      <a class="source" href="{{ article.article-link }}" target="_blank">
        <div class="title">
          {{ article.article-title }}
        </div>
        <div class="author">
          {{ article.article-author }}
        </div>
      </a>
    </article>
  {% endfor %}

  {% for article in site.posts limit: 1 offset: 2 %}
    <article class="media">
      <span></span>
      <span></span>
      <span></span>

      <div class="details">
        <div class="lengh">{{ article.article-lengh }}</div>

        {% if article.tag == "article" %}
          <a class="article tag" href="/articles">{{ article.tag }}</a>
          {% elsif article.tag == "podcast" %}
            <a class="podcast tag" href="/podcasts">{{ article.tag }}</a>
          {% elsif article.tag == "infographic" %}
            <a class="infographic tag" href="/infographics">{{ article.tag }}</a>
          {% elsif article.tag == "report" %}
            <a class="report tag" href="/reports">{{ article.tag }}</a>
          {% elsif article.tag == "video" %}
            <a class="video tag" href="/videos">{{ article.tag }}</a>
        {% endif %}
      </div>

      <a class="source" href="{{ article.article-link }}" target="_blank">
        <div class="title">
          {{ article.article-title }}
        </div>
        <div class="author">
          {{ article.article-author }}
        </div>
      </a>
    </article>
  {% endfor %}

  {% for article in site.posts limit: 1 offset: 3 %}
    <article class="media">
      <span></span>
      <span></span>
      <span></span>
      <span></span>

      <div class="details">
        <div class="lengh">{{ article.article-lengh }}</div>

        {% if article.tag == "article" %}
          <a class="article tag" href="/articles">{{ article.tag }}</a>
          {% elsif article.tag == "podcast" %}
            <a class="podcast tag" href="/podcasts">{{ article.tag }}</a>
          {% elsif article.tag == "infographic" %}
            <a class="infographic tag" href="/infographics">{{ article.tag }}</a>
          {% elsif article.tag == "report" %}
            <a class="report tag" href="/reports">{{ article.tag }}</a>
          {% elsif article.tag == "video" %}
            <a class="video tag" href="/videos">{{ article.tag }}</a>
        {% endif %}
      </div>

      <a class="source" href="{{ article.article-link }}" target="_blank">
        <div class="title">
          {{ article.article-title }}
        </div>
        <div class="author">
          {{ article.article-author }}
        </div>
      </a>
    </article>
  {% endfor %}

  {% for article in site.posts limit: 1 offset: 4 %}
    <article class="media">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>

      <div class="details">
        <div class="lengh">{{ article.article-lengh }}</div>

        {% if article.tag == "article" %}
          <a class="article tag" href="/articles">{{ article.tag }}</a>
          {% elsif article.tag == "podcast" %}
            <a class="podcast tag" href="/podcasts">{{ article.tag }}</a>
          {% elsif article.tag == "infographic" %}
            <a class="infographic tag" href="/infographics">{{ article.tag }}</a>
          {% elsif article.tag == "report" %}
            <a class="report tag" href="/reports">{{ article.tag }}</a>
          {% elsif article.tag == "video" %}
            <a class="video tag" href="/videos">{{ article.tag }}</a>
        {% endif %}
      </div>

      <a class="source" href="{{ article.article-link }}" target="_blank">
        <div class="title">
          {{ article.article-title }}
        </div>
        <div class="author">
          {{ article.article-author }}
        </div>
      </a>
    </article>
  {% endfor %}
</section> -->
